.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 75vw;
  z-index: 2;
  font-family: var(--font-mono);
}

.title p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  margin-bottom: 5vh;
  margin-left: 1vw;
}

.output {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 70vw;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 1rem;
}

.output p {
  position: relative;
  margin: 0;
  
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  height: 200px;
  overflow: scroll;
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.io {
  width:75vw;
  margin-bottom: 20vh;
}

.selectDropdown {
  width:150px;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  font-weight: 300;
  font-family: var(--font-mono);
  margin: 1vw;
}

.prompt {
  width:69vw;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  font-weight: 300;
  font-family: var(--font-mono);
  margin: 1vw;
}

.submitButton {
  width:100px;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  font-weight: 300;
  font-family: var(--font-mono);
  margin: 1vw;
}

.inputArea {
  width: 50vw;
  margin: auto;
}

.logo {
  position: relative;
}

.codeResponse {
  border: solid;
  border-radius: var(--border-radius);
  border-color: #ffffff70;
  max-height: 400px;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
